<!DOCTYPE html>
<html>
  <head>
    <title>Eventos Culturais</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <button >Register</button>
    <table class="allEvents">
      <tr>
        <th>Name</th>
        <th>Local</th>
        <th>Date</th>
        <th>Price</th>
        <th>Lugares</th>
        <th>Descrição</th>
      </tr>
      <% for(var i=0; i < result.length; i++) { %>
         <tr>
          <td><%= result[i].eventName %></td>
          <td><%= result[i].local %></td>
          <td><%= result[i].eventDate %></td>
          <td><%= result[i].price %></td>
          <td><%= result[i].lugares %></td>
          <td><%= result[i].description %></td>
        </tr>
      <% } %>
      </table>
  </body>
</html>
