<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Perfil de Utilizador</h1>
    <p>Nome:</p>
    <p><%= userName %><p>
    <p>Email:</p>
    <p><%= email %></p>
    <p>Data de Nascimento:</p>
    <p><%= birthDate %></p>
    <p>Número de Telefone:</p>
    <p><%= cellphone %></p>
    <p>Cartão de Cidadão:</p>
    <p><%= cc %></p>
    <div>
        <h3>Morada</h3>
        <p>Rua:</p>
        <p><%= street %></p>
        <p>Número de Porta:</p>
        <p><%= doorNumber %></p>
        <p>Distrito:</p>
        <p><%= district %></p>
        <p>Localidade:</p>
        <p><%= locality %></p>
        <p>Código-postal:</p>
        <p><%= postalCode1 %>-<%= postalCode2 %></p>
    </div>
    </body>
</html>